.el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
    font-size: 26px
  }
  body , html , .aside , #app , .el-container , .asideHeight {
    height: 100%;
}
  .signOut {
    float: right;
    margin-right: 20px;
  }
  .signOut .el-button {
    font-size: 12px;
  }
  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
    background-color: #545c64;
  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-icon-location {
    margin-left: -20px;
  }
  .el-submenu {
    width: 200px;
  }
